body {
    background-color: beige;
}
.content {
    margin:200px auto;
    padding-top: 100px;
    width: 400px;
    border: solid 3px black;
    background-color: darkgray;
    border-radius: 20px;
}

.buttons {
    margin: 30px auto;
    width: 300px;
    height: 150px;
    border: solid 3px black;
    border-radius: 15px;
}